body{
background-color: rgb(113, 113, 209);
}

h3{
   text-align: center;
   color: rgb(219, 13, 13);
}
div{
    background-color: rgb(154, 154, 228);
}
footer{
    background-color: rgb(5, 5, 117);
    
}