body{
background-color: rgb(113, 113, 209);
}

   marquee{
      font-size: 30px;
      font-weight: 800;
      color: #8ebf42;
      font-family: sans-serif;
   }
div{
    background-color: rgb(154, 154, 228);
}
footer{
    background-color: rgb(5, 5, 117);
    
}
